
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @Styles.Render("~/styles")
    <title>Jangi</title>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href=@Url.RouteUrl("Posts") class="logo"><strong>Jangi</strong> - <i>Kongossa du Mboa</i></a>
                    <ul class="icons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@User.Identity.Name</li>
                            <li><a href="@Url.RouteUrl("Logout")" class="">Se Deconnecter</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.RouteUrl("Login")" class="icon">Se Connecter</a></li>
                            <li><a href="@Url.RouteUrl("Register")" class="icon" >S'inscrire</a></li>
                        }
                    </ul>
                </header>
                @RenderBody()
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Search -->
                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Recherche" />
                    </form>
                </section>

                @if (User.Identity.IsAuthenticated)
                {
                <nav id="menu">
                    <header class="major">
                        <h2>Profile</h2>
                    </header>
                    <ul>
                        <li><a href="@Url.RouteUrl("MonProfile")">Voir mon profile</a></li>
                        <li><a href="@Url.RouteUrl("MesPublications")">Mes publications</a></li>
                    </ul>
                </nav>
                }

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Categories</h2>
                    </header>
                   
                        @{ 
                            Html.RenderAction("Categories", "Posts", new {area = string.Empty });
                        } 
                </nav>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; Jangi 2017 <!--Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.--></p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)
    @RenderSection("runText", false)
</body>
</html>
