@model List<Jangi.Models.Tag>

<ul>
    <li><a href="@Url.RouteUrl("ListPosts", new { cat = "Toutes"})">Toutes</a></li>
    <li><a href="@Url.RouteUrl("Posts")">Nouvelles</a></li>
    <li><a href="@Url.RouteUrl("ListPosts", new { cat = "Populaires"})">Populaires</a></li>
@foreach (var category in Model)
{
    <li><a href="@Url.RouteUrl("ListPosts", new { cat = category.tag})">@category.tag</a></li>
}
</ul>
