@model Jangi.ViewModels.newPassword

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(x => x.password, "Mot de Passe")
        @Html.EditorFor(x => x.password)
    </div>
    <div>
        @Html.LabelFor(x => x.passwordNew, "Nouveau Mot de Passe")
        @Html.EditorFor(x => x.passwordNew)
    </div>
    <div>
        @Html.LabelFor(x => x.passwordConfirm, "Confirmer le Mot de Passe")
        @Html.EditorFor(x => x.passwordConfirm)
    </div>

    <input type="submit" value="Modifier" />
    <a href="@Url.RouteUrl("MonProfile")"> ou Annuler</a>
}