@model Jangi.ViewModels.NewPost

@using (Html.BeginForm())
{

        @Html.HiddenFor(p => p.id)

    <div class="row">
        <div class="col-lg-8">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(f => f.title, "Titre")
                @Html.TextBoxFor(f => f.title, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.content, "Contenu")
                @Html.TextAreaFor(f => f.content,new { @id = "MyContent", @class = "form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
            <div class="panel-heading">Publication</div>
            <div class="panel-body">
                <b><u>Tags</u></b>

                <ul class="list-group" style="height: 180px; overflow: auto;">
                    @for (int i = 0; i < Model.tags.Count; i++)
                    {
                        <li class="list-group-item">
                            @Html.Hidden("tags[" + i + "].Id", Model.tags[i].Id)
                            <label for="tags_@(i)__IsChecked">
                                @Html.CheckBox("tags[" + i + "].IsChecked", Model.tags[i].IsChecked)
                                @Model.tags[i].Name
                            </label>
                        </li>
                    }
                </ul>

                <input type="submit" value="Publier" class="btn btn-success btn-sm" />
                <a href="@Url.Action("index")"> ou Annuler</a>
            </div>
        </div>

        </div>
    </div>

    @section Scripts{
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
        <script>
                CKEDITOR.replace("MyContent");
        </script>
    }
}